<!DOCTYPE html>
<html ng-app="tasker">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/backbone">Backbone.js</a></li>
        <li><a href="/angular">Angular.js</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <section class="container">

      <article class="row" ng-controller="LoadingPanelCtrl">
        <div class="col-md-12">
          <h1>Logging You in...</h1>
          <p id="loading-message">
            Please wait, we're just authentication and validating that you have an invitation.
          </p>
          <button type="button" id="login-btn">Log In!</button>
        </div>
      </article>

        <article class="row" ng-controller="TaskListCtrl">
        <div class="col-md-12">

          <form ng-submit="createTask(name, description)">
            <input class="form-control" type="text" name="name" ng-model="name">
            <input class="form-control" type="text" name="description" ng-model="description">
            <input type="submit" value="Add Task" class="btn btn-primary">
          </form>

          <ul>
            <li ng-repeat="task in tasks">
              <span ng-click="completeTask(task)" data-task="{{task._id}}" class='glyphicon glyphicon-chevron-right'>
              <strong>{{task.name}}</strong></span><br>
              <em>{{task.description}}</em>
            </li>
          </ul>

        </div>
      </article>


    </section>


  </body>
</html>
